*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 font-family: 'Poppins', sans-serif;
}
.App{
  display: flex;
  overflow: hidden;
}

.SideBar
{
  display: flex;
  padding-left: 25px;
  width: 30vw;
  height: 100vh;
  background: rgb(18,5,48);
  background: linear-gradient(90deg, rgba(18,5,48,1) 10%, rgba(47,18,113,1) 61%);
  
}
.MainContent
{
  display: flex;
  padding-left: 45px;
  width: 70vw;
  height: 100vh;
}